.card {
  // FUNCTIONALITY
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        // background-image: linear-gradient(
        //   to right bottom,
        //   $color-primary-light,
        //   $color-primary-dark
        // );
        // background-color: $color-primary-light;
        background-image: linear-gradient(
          to right bottom,
          $color-white,
          $color-primary-light
        );
      }
      &-2 {
        // background-color: $color-primary-light;
        background-image: linear-gradient(
          to right bottom,
          $color-white,
          $color-primary-light
        );
      }
      &-3 {
        // background-color: $color-primary-light;
        background-image: linear-gradient(
          to right bottom,
          $color-white,
          $color-primary-light
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: url(../img/marneus.jpg),
        linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
    }

    &--2 {
      background-image: url(../img/roboutte.jpg),
        linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
    }

    &--3 {
      background-image: url(../img/tigurius.jpg),
        linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
    }
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;

    &-heading {
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      margin-top: -2rem;
      margin-bottom: 1rem;
    }

    .stats-row {
      border-bottom: 1px solid rgba($color-black, 0.2);
      display: inline-block;
      width: 100%;
      margin: 0 auto;

      @include respond(tab-port) {
        display: inline-flex;
      }
    }
    .stat-box {
      width: 80%;
      margin: 0 auto;
      text-align: center;

      // &:not(:last-child) {
      //   border-bottom: 1px solid $color-grey-light-2;
      // }

      @include respond(tab-port) {
      }

      &__stat {
        font-size: 1.5rem;
        font-weight: 700;
      }

      &__data {
        font-size: 1.3rem;
      }
    }
  }

  &__text {
    margin-top: 2rem;
    font-size: 1.2rem;
    text-align: center;

    &-name {
      font-weight: 700;
    }
  }

  &__weapon {
    font-weight: 700;

    &--primary {
      color: red;
    }
    &--secondary {
      color: blue;
    }
  }

  // BACKSIDE STYLING

  &__model {
    background-size: cover;
    height: 35rem;
    &--1 {
      background-image: url(../img/marneus_model_b.png);
    }

    &--2 {
      background-image: url(../img/roboutte_model.png);
    }

    &--3 {
      background-image: url(../img/tigurius_model.png);
    }
  }

  .phrase-box {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 2rem;
    background-color: $color-grey-light-1;
    border-radius: 0 2rem 0 0;
  }

  // ul {
  //   list-style: none;
  //   width: 80%;
  //   margin: 0 auto;

  //   li {
  //     text-align: center;
  //     font-size: 1rem;
  //     padding: 1rem;

  //     &:not(:last-child) {
  //       border-bottom: 1px solid $color-grey-light-2;
  //     }
  //   }
}
